{:deps    {potemkin {:mvn/version "0.4.5"}}
 :aliases {:test       {:extra-paths ["test"]
                        :main-opts   ["-m" "all-tests"]}
           :dump-server {:extra-paths ["test"]
                         :extra-deps {ring/ring {:mvn/version "1.8.0"}}
                         :main-opts ["-m" "dump_server"]}
           :test-setup {:extra-paths ["test"]
                        :extra-deps {popen {:mvn/version "0.3.1"}}
                        :main-opts   ["-m" "test-setup"]}
           :bench      {:extra-paths ["test"]
                        :extra-deps  {criterium {:mvn/version "0.4.5"}}
                        :main-opts   ["-m" "benchmark"]}
           :repl       {:extra-paths ["test"]
                        :extra-deps  {popen {:mvn/version "0.3.1"}
                                      criterium {:mvn/version "0.4.5"}
                                      ring/ring {:mvn/version "1.8.0"}}}
           :pack       {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                      :sha     "c70740ffc10805f34836da2160fa1899601fac02"}}
                        :main-opts  ["-m" "mach.pack.alpha.skinny"]}
           :cljs_build {:extra-paths ["test"]
                        :extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}}}}}